body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 0 20px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}
